// 图标
.VPImage.image-src {
  border-radius: 20px;
}
.VPImage.logo {
  border-radius: 4px;
}

// 表格样式
.vp-doc th,
.vp-doc td {
  width: 500px;
}

.demo-slot.vp-raw {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

// demo按钮
.vitepress-demo .demo-platforms a{
  display: none !important;
}
