.Layout {
  background-image: url("/bg.png");
}

// 图标
.VPImage.image-src {
  border-radius: 20px;
}
.VPImage.logo {
  border-radius: 4px;
}

// 导航栏毛玻璃效果
.VPNav .VPNavBar.has-sidebar .content-body,
.content {
  background-color: transparent !important;
  backdrop-filter: blur(8px);
}

// 表格样式
.vp-doc th,
.vp-doc td {
  width: 500px;
}

.demo-slot.vp-raw {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

// demo按钮
.vitepress-demo .demo-platforms a {
  display: none !important;
}
