@import "./variables.scss";

.cozy-anchor {
  padding-left: 0;
  width: 200px;

  // 清除默认
  a {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: $color-primary;
  }

  // 浮动模式
  &.is-affix {
    position: fixed;
    top: 80px;
    right: 100px;
  }

  // 静态模式
  &.is-static {
    position: static;
  }

  &-slider {
    position: relative;
    margin-right: 8px;
    padding-left: 2px;
  }

  &-slider-line {
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    width: 2px;
    background-color: $border-color-lighter;
  }

  &-slider-ball {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: $color-primary;
    transition: top .25s cubic-bezier(.645,.045,.355,1);
  }

  &-content {
    padding-left: 16px;
  }
}

.cozy-anchor-link {
  padding: 6px 0;
  line-height: 1.5715;

  &-title {
    position: relative;
    display: block;
    margin-bottom: 8px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    transition: all .25s;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: lighten($color-primary, 10%);
    }
  }

  &-active {
    > .cozy-anchor-link-title {
      color: $color-primary;
      font-weight: 600;
    }
  }

  &-content {
    padding-left: 16px;
  }

  .cozy-anchor-link {
    padding-top: 4px;
    padding-bottom: 4px;

    &-title {
      margin-bottom: 4px;
      font-size: 13px;
    }
  }
}
