@import "./variables.scss";

.cozy-anchor {
  position: relative;
  padding-left: 2px;

  &-wrapper {
    overflow: auto;
    padding-left: 4px;
    margin-left: -4px;
  }

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &-ink {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

    &::before {
      content: ' ';
      position: relative;
      width: 2px;
      height: 100%;
      display: block;
      background-color: $border-color;
      margin: 0 auto;
    }

    &-ball-visible {
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: $background-color-white;
      border: 2px solid $color-primary;
      border-radius: 8px;
      transform: translateX(-50%);
      transition: top 0.3s ease-in-out;
      left: 50%;
    }
  }

  &-link {
    padding: 7px 0 7px 16px;
    line-height: 1.143;

    &-title {
      display: block;
      position: relative;
      transition: all 0.3s;
      color: $text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 6px;

      &:only-child {
        margin-bottom: 0;
      }

      &:hover {
        color: $color-primary;
      }

      &-active {
        color: $color-primary;
      }
    }
  }

  // 水平方向样式
  &-horizontal {
    padding-left: 0;
    padding-bottom: 2px;

    .cozy-anchor-ink {
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      top: auto;

      &::before {
        width: 100%;
        height: 2px;
      }

      &-ball-visible {
        width: 8px;
        height: 2px;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
      }
    }

    .cozy-anchor-link {
      padding: 0 16px 7px 0;
      display: inline-block;

      &-title {
        margin-bottom: 0;
      }
    }
  }
}
