@import "./variables.scss";

.cozy-button-group {
  display: flex;
}
.cozy-button-group > .cozy-button {
  border-radius: unset !important;
  border: none;
}
.cozy-button-group > .cozy-button:not(:last-child) {
  border-right: 1px solid $color-white;
}
.cozy-button-group > .cozy-button:first-of-type {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.cozy-button-group > .cozy-button:last-of-type {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
