.cozy-page-header {
  padding: 16px 24px;
  background-color: #fff;
  
  &:not(.cozy-page-header-ghost) {
    background-color: #f5f5f5;
  }
  
  &-back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    
    &:hover {
      color: rgba(0, 0, 0, 0.85);
    }
    
    i {
      margin-right: 8px;
      font-size: 16px;
      line-height: 1;
    }
    
    &-text {
      font-size: 14px;
      line-height: 1.5715;
    }
  }
  
  &-heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  
  &-avatar {
    margin-right: 12px;
  }
  
  &-title {
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  &-subtitle {
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  &-tags {
    margin-right: 12px;
  }
  
  &-extra {
    margin: 4px 0;
    white-space: nowrap;
    
    > * {
      margin-left: 8px;
      white-space: unset;
      
      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  &-content {
    padding-top: 12px;
  }
  
  &-footer {
    margin-top: 16px;
  }
  
  // 响应式布局
  @media (max-width: 576px) {
    padding: 16px;
    
    &-heading {
      flex-direction: column;
      align-items: flex-start;
    }
    
    &-extra {
      margin-top: 12px;
      margin-left: 0;
      width: 100%;
    }
  }
} 