.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.cozy-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  max-width: 250px;
  visibility: visible;
  font-size: 14px;
  line-height: 1.5;

  &-content {
    min-width: 30px;
    min-height: 32px;
    padding: 6px 8px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }

  &-arrow {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-style: solid;
    border-width: 6px;
  }

  // 上方
  &-top,
  &-topLeft,
  &-topRight {
    padding-bottom: 8px;
    .cozy-tooltip-arrow {
      bottom: 4px;
      border-top-color: rgba(0, 0, 0, 0.85);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  &-top .cozy-tooltip-arrow {
    left: 50% !important;
    transform: translateX(-50%);
  }

  &-topLeft .cozy-tooltip-arrow {
    left: 12px;
  }

  &-topRight .cozy-tooltip-arrow {
    right: 12px;
  }

  // 下方
  &-bottom,
  &-bottomLeft,
  &-bottomRight {
    padding-top: 8px;
    .cozy-tooltip-arrow {
      top: 4px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgba(0, 0, 0, 0.85);
      border-left-color: transparent;
    }
  }

  &-bottom .cozy-tooltip-arrow {
    left: 50% !important;
    transform: translateX(-50%);
  }

  &-bottomLeft .cozy-tooltip-arrow {
    left: 12px;
  }

  &-bottomRight .cozy-tooltip-arrow {
    right: 12px;
  }

  // 左侧
  &-left,
  &-leftTop,
  &-leftBottom {
    padding-right: 8px;
    .cozy-tooltip-arrow {
      right: 4px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: rgba(0, 0, 0, 0.85);
    }
  }

  &-left .cozy-tooltip-arrow {
    top: 50% !important;
    transform: translateY(-50%);
  }

  &-leftTop .cozy-tooltip-arrow {
    top: 4px !important;
  }

  &-leftBottom .cozy-tooltip-arrow {
    bottom: 4px !important;
  }

  // 右侧
  &-right,
  &-rightTop,
  &-rightBottom {
    padding-left: 8px;
    .cozy-tooltip-arrow {
      left: 4px;
      border-top-color: transparent;
      border-right-color: rgba(0, 0, 0, 0.85);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  &-right .cozy-tooltip-arrow {
    top: 50% !important;
    transform: translateY(-50%);
  }

  &-rightTop .cozy-tooltip-arrow {
    top: 4px !important;
  }

  &-rightBottom .cozy-tooltip-arrow {
    bottom: 4px !important;
  }
}

.cozy-tooltip-trigger {
  display: inline-block;
}
